.section_weather {
    max-width: 70%;
    min-width: 320px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    
    :where(.fa-angle-right, .fa-angle-left) {
        cursor: pointer;
        color: #0092ac;
        font-size: 45px;
    }

    :where(.previous_card, .next_card) {
        width: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        i {
            font-size: 35px;
        }
    }

    .datas_div {
        min-width: 260px;
        max-width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        border: 4px rgba(88, 179, 177, 0.622) solid;
        scroll-snap-type: y mandatory;
        border-radius: 5px;
        background-blend-mode: darken;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .graph_div {
            position: relative;
            height: 15vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(127, 255, 212, 0.351);
            backdrop-filter: blur( 5px );
            -webkit-backdrop-filter: blur( 5px );
            border: none;
        }

        .h2_title_card {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            background: rgba(71, 237, 255, 0.708);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 1px );
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            text-align: center;
        }

        .day_data {
            width: 500px;
            background-color: rgb(71, 255, 215);
            border-radius: 5px;
        }

        .hour_div {
            height: 35%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
            overflow-x: scroll;

            background: rgba( 255, 255, 255, 0.3 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 1px );

            &::-webkit-scrollbar {
                width: 3px; /* Largeur de la scrollbar */
                height: 3px;
              }
              
              &::-webkit-scrollbar-track {
                background: #06b7ae; /* Couleur de la piste de la scrollbar */
              }
              
              &::-webkit-scrollbar-thumb {
                width: 15%;
                background-color: #0092ac; /* Couleur de la barre de défilement */
                border-radius: 10px; /* Coins arrondis de la barre de défilement */
              }
              
              &::-webkit-scrollbar-thumb:hover {
                background: #0adbdb; /* Couleur de la barre de défilement au survol */
              }
            

            .hour_data {
                min-width: 130px;
                min-height: 130px;
                border-radius: 5px;
                margin: 15px;
                background-color: rgba(71, 237, 255, 0.601);
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 1px );
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                text-align: center;
                padding: 5px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

                :where(h5, h2, h3, h4) {
                    padding: 0;
                    margin: 5px;
                }

                img {
                    width: 50px;
                }

                i {
                    margin-left: 2px;
                    color: orange;
                }
            }
        }
        

        .actualy_weather_div {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
            background-color: rgba(127, 255, 212, 0.351);
            
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
            
            color: white;
            padding: 10px;


            .subTitle {
                background-color: rgba(255, 129, 71, 0.853);
                display: block;
                width: 95%;
                border-radius: 5px;
                text-align: center;
            }

            .weather_and_temp_div {
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                font-size: large;
                .temp_div {
                    width: 100%;
                    height: 45%;
                    border-radius: 5px;
                    background-color: #cb6601b2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    h3 {
                        margin-bottom: 30px;
                        margin-top: 5px;
                    }
                }

                .weather_div {
                    width: 100%;
                    height: 45%;
                    border-radius: 5px;
                    background-color: rgba(46, 139, 196, 0.648);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    h3 {
                        margin-bottom: 30px;
                        margin-top: 5px;
                    }
                }

                h2 {
                    margin-top: 10px;
                    font-size: 35px;
                    color: whitesmoke;
                }

                :where(h5, h3) {
                    padding: 0;
                    margin: 0;
                }

                i {
                    color: rgba(93, 157, 183, 0.814);
                }
            }

            .humidity_and_wind_div {
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                font-size: medium;
                padding: 0;
                
                .humidity_div {
                    width: 100%;
                    height: 45%;
                    border-radius: 5px;
                    background-color: rgba(71, 129, 255, 0.73);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    h3 {
                        margin-bottom: 30px;
                        margin-top: 5px;
                        margin-top: 5px;
                    }
                }
                .wind_div {
                    width: 100%;
                    height: 45%;
                    border-radius: 5px;
                    background-color: rgba(5, 154, 134, 0.774);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    h3 {
                        margin-bottom: 30px;
                        margin-top: 5px;
                    }
                }

                :where(h5, h3) {
                    padding: 0;
                    margin: 0;
                }

                i {
                    margin-left: 15px;
                    color: tomato;
                }
            }

            .precipitation_and_visibility {
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                font-size: medium;
                padding: 0;

                .precipitation_div {
                    width: 100%;
                    height: 45%;
                    border-radius: 5px;
                    background-color: rgba(0, 166, 208, 0.733);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    h3 {
                        margin-bottom: 30px;
                        margin-top: 5px;
                        margin-top: 5px;
                    }
                }
                .visibility_div {
                    width: 100%;
                    height: 45%;
                    border-radius: 5px;
                    background-color: rgba(175, 175, 1, 0.611);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    h3 {
                        margin-bottom: 30px;
                        margin-top: 5px;
                        margin-top: 5px;
                    }
                }

                :where(h5, h3) {
                    padding: 0;
                    margin: 0;
                }

                i {
                    margin-left: 15px;
                    color: orange;
                }
            }
        }
    }

    .slider_card_select {
        width: 80%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        i {
            background-color: white;
        }
    }
}