.section_weather {
    min-width: 320px;
    height: 550px;
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
    overflow-x: scroll;

    .datas_div {
        min-width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        
        border: 5px rgb(37, 124, 123) solid;
        scroll-snap-type: y mandatory;
        border-radius: 15px;

        .day_data {
            width: 500px;
            background-color: rgb(71, 255, 215);
            border-radius: 15px;
        }

        .hour_div {
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
            overflow-x: scroll;
            .hour_data {
                min-width: 100px;
                border-radius: 5px;
                margin: 15px;
                background-color: rgb(71, 237, 255);
                text-align: center;
            }
        }
    }
}