@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: fixed;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  header {
    justify-content: center;
    align-items: center;
  }
}
header .search {
  margin-top: 30px;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  header .search {
    width: 100%;
    justify-content: center;
  }
}
header .search #searchBar {
  width: 200px;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  margin-left: 15px;
  padding: 5px;
}
header .search #sendSearch {
  width: 50px;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  cursor: pointer;
}
header .choice {
  position: relative;
  bottom: 15px;
  padding-top: 15px;
  margin-left: 15px;
  width: 250px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  background-color: rgb(248, 244, 244);
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
header .choice:hover {
  display: flex;
}
@media screen and (max-width: 768px) {
  header .choice {
    justify-content: center;
  }
}
header .choice li {
  width: 99%;
  height: 40px;
  list-style-type: none;
  font-weight: bold;
  border-bottom: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}
header .choice li:hover {
  background-color: aliceblue;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section_weather {
  position: relative;
  max-width: 70%;
  min-width: 320px;
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  z-index: 0;
  background-position: center;
}
@media screen and (max-width: 768px) {
  main .section_weather {
    width: 100%;
    margin-top: 150px;
  }
}
main .section_weather :where(.fa-angle-right, .fa-angle-left) {
  cursor: pointer;
  color: #0092ac;
  font-size: 45px;
}
main .section_weather :where(.previous_card, .next_card) {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .section_weather :where(.previous_card, .next_card) i {
  font-size: 35px;
}
main .section_weather .datas_div {
  min-width: 260px;
  max-width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border: 4px rgba(88, 179, 177, 0.622) solid;
  scroll-snap-type: y mandatory;
  border-radius: 5px;
  background-blend-mode: darken;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div {
    width: 80%;
    height: -moz-max-content;
    height: max-content;
  }
}
main .section_weather .datas_div .graph_div {
  position: relative;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(127, 255, 212, 0.351);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  color: white;
}
main .section_weather .datas_div .h2_title_card {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgba(71, 237, 255, 0.708);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(1px);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
}
main .section_weather .datas_div .day_data {
  width: 500px;
  background-color: rgb(71, 255, 215);
  border-radius: 5px;
}
main .section_weather .datas_div .hour_div {
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  overflow-x: scroll;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(1px);
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .hour_div {
    height: -moz-max-content;
    height: max-content;
  }
}
main .section_weather .datas_div .hour_div::-webkit-scrollbar {
  width: 3px; /* Largeur de la scrollbar */
  height: 3px;
}
main .section_weather .datas_div .hour_div::-webkit-scrollbar-track {
  background: #06b7ae; /* Couleur de la piste de la scrollbar */
}
main .section_weather .datas_div .hour_div::-webkit-scrollbar-thumb {
  width: 15%;
  background-color: #0092ac; /* Couleur de la barre de défilement */
  border-radius: 10px; /* Coins arrondis de la barre de défilement */
}
main .section_weather .datas_div .hour_div::-webkit-scrollbar-thumb:hover {
  background: #0adbdb; /* Couleur de la barre de défilement au survol */
}
main .section_weather .datas_div .hour_div .hour_data {
  min-width: 130px;
  min-height: 130px;
  border-radius: 5px;
  margin: 15px;
  background-color: rgba(71, 237, 255, 0.601);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(1px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .hour_div .hour_data {
    width: 100px;
    margin: 5px;
    min-height: 115px;
  }
}
main .section_weather .datas_div .hour_div .hour_data :where(h5, h2, h3, h4) {
  padding: 0;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .hour_div .hour_data :where(h5, h2, h3, h4) {
    font-size: 15px;
  }
}
main .section_weather .datas_div .hour_div .hour_data img {
  width: 50px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .hour_div .hour_data img {
    width: 50px;
  }
}
main .section_weather .datas_div .hour_div .hour_data i {
  margin-left: 2px;
  color: orange;
}
main .section_weather .datas_div .actualy_weather_div {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  background-color: rgba(127, 255, 212, 0.351);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div {
    height: 60%;
  }
}
main .section_weather .datas_div .actualy_weather_div .subTitle {
  background-color: rgba(255, 129, 71, 0.853);
  display: block;
  width: 95%;
  border-radius: 5px;
  text-align: center;
}
main .section_weather .datas_div .actualy_weather_div i {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div i {
    font-size: small;
    margin: 0;
  }
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div {
    width: 30%;
    height: 165px;
    font-size: x-small;
  }
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div .temp_div {
  width: 100%;
  height: 45%;
  border-radius: 5px;
  background-color: rgba(203, 102, 1, 0.6980392157);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div .temp_div h3 {
  margin-bottom: 30px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div .temp_div h3 {
    font-size: x-small;
  }
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div .weather_div {
  width: 100%;
  height: 45%;
  border-radius: 5px;
  background-color: rgba(46, 139, 196, 0.648);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div .weather_div img {
    width: 50px;
  }
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div .weather_div h3 {
  margin-bottom: 30px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div .weather_div h3 {
    margin-bottom: 0;
  }
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div h2 {
  margin-top: 10px;
  font-size: 35px;
  color: whitesmoke;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div h2 {
    font-size: 20px;
  }
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div :where(h5, h3) {
  padding: 0;
  margin: 0;
}
main .section_weather .datas_div .actualy_weather_div .weather_and_temp_div i {
  color: rgba(93, 157, 183, 0.814);
}
main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  padding: 0;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div {
    width: 30%;
    font-size: x-small;
  }
}
main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div .humidity_div {
  width: 100%;
  height: 45%;
  border-radius: 5px;
  background-color: rgba(71, 129, 255, 0.73);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div .humidity_div h3 {
  margin-bottom: 30px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div .humidity_div h3 {
    margin-bottom: 15px;
  }
}
main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div .wind_div {
  width: 100%;
  height: 45%;
  border-radius: 5px;
  background-color: rgba(5, 154, 134, 0.774);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div .wind_div h3 {
  margin-bottom: 30px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div .wind_div h3 {
    margin-bottom: 15px;
  }
}
main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div :where(h5, h3) {
  padding: 0;
  margin: 0;
}
main .section_weather .datas_div .actualy_weather_div .humidity_and_wind_div i {
  color: tomato;
}
main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  padding: 0;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility {
    width: 30%;
    font-size: x-small;
  }
}
main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility .precipitation_div {
  width: 100%;
  height: 45%;
  border-radius: 5px;
  background-color: rgba(0, 166, 208, 0.733);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility .precipitation_div h3 {
  margin-bottom: 30px;
  margin-top: 5px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility .precipitation_div h3 {
    margin-bottom: 15px;
  }
}
main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility .visibility_div {
  width: 100%;
  height: 45%;
  border-radius: 5px;
  background-color: rgba(175, 175, 1, 0.611);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility .visibility_div h3 {
  margin-bottom: 30px;
  margin-top: 5px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility .visibility_div h3 {
    margin-bottom: 15px;
  }
}
main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility :where(h5, h3) {
  padding: 0;
  margin: 0;
}
main .section_weather .datas_div .actualy_weather_div .precipitation_and_visibility i {
  color: orange;
}
main .section_weather .slider_card_select {
  width: 80%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main .section_weather .slider_card_select i {
  background-color: white;
  cursor: pointer;
}

body {
  background-image: repeating-linear-gradient(90deg, hsla(298, 16%, 68%, 0.06) 0px, hsla(298, 16%, 68%, 0.06) 1px, transparent 1px, transparent 21px, hsla(298, 16%, 68%, 0.06) 21px, hsla(298, 16%, 68%, 0.06) 22px, transparent 22px, transparent 72px), repeating-linear-gradient(0deg, hsla(298, 16%, 68%, 0.06) 0px, hsla(298, 16%, 68%, 0.06) 1px, transparent 1px, transparent 21px, hsla(298, 16%, 68%, 0.06) 21px, hsla(298, 16%, 68%, 0.06) 22px, transparent 22px, transparent 72px), repeating-linear-gradient(135deg, hsla(298, 16%, 68%, 0.06) 0px, hsla(298, 16%, 68%, 0.06) 1px, transparent 1px, transparent 21px, hsla(298, 16%, 68%, 0.06) 21px, hsla(298, 16%, 68%, 0.06) 22px, transparent 22px, transparent 72px), linear-gradient(90deg, hsl(275, 3%, 97%), hsl(275, 3%, 97%));
}/*# sourceMappingURL=style.css.map */